html,
body,
#root {
  height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
/* 在这修改ant的css */
.ant-menu-horizontal {
  border-bottom: 0px solid #f0f0f0 !important;
}

.ant-input-affix-wrapper {
  height: 40px !important;
}
.ant-input-prefix {
  margin-right: 10px !important;
  font-size: 17px;
}
